/* Header/Logo Title */
.header {
  padding: 0.1%;
  text-align: center;
    font-style: italic;
  /*background: #1abc9c;/*/
  color: #b67f09;
  font-size: 100%;
    margin-right: 1%;
    margin-left: 1%;
    background-image: url("./images/banner.jpeg");
}

.topnav {
    background-image: linear-gradient(#070707, #2f2f2f, #484845, #4d4d4a, #949493);
  overflow: hidden;
    margin-right: 1%;
    margin-left: 1%;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #f2f2f2;
    font-weight: 900;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #c4c0c0;
  color: #373838;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #020202;
  color: #cccccc;
}


.footer-text {
    color: #c4c0c0;
    position: fixed;
    bottom: 0%;
    left: 0;
    right: 0;
    text-align: right;
    background-image: linear-gradient(to right, #020202, #888787);
}

.left {
    float: left;
}
.right {
    float: right;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.reg {
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}

.body{
    background: rgb(40, 77, 154)
}

.text-color {
    color:white;
}