<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/style.css">
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="#news">News</a>
      <a href="#contact">Contact</a>
        {% if 'username' in session %}
            <a href="#contact">Logged as :{{ session['username'] }}</a>
        {% endif %}
    </div>
    <h1></h1>
        <p class="footer-text">Footer</p>
</body>
</html>